

<div media="print">

  <a href="google.com">Google</a>
  <h2 class="noprint">The page area is the space on the page into which your page’s content will flow. When it runs out of room, another
    page will be created. The margin boxes are used only for CSS-generated content.</h2>
  
  <h1>LEFT AND RIGHT PAGE SPREADS #</h1>
  <p>Another aspect of the page model is that it defines pseudo-class selectors for the left and right pages of your
    document. If you look at any printed book you have on hand,<br> you’ll probably see that the margin’s size and the
    margin’s content are different on the left and right pages.<br>
    UNDERSTANDING THE PAGE MODEL #
    Before going any further, we should understand how the page model for paged media works, because it behaves somewhat
    differently to how things work on screen.
  
    The page model defines a page area and then 16 surrounding margin boxes. You can control the size of the page area and
    the size of the margin between the
    M<br> edge of the page area and the end of the page itself. The table in the
    specification explains very well how these boxes are sized.<br>
    UNDERSTANDING THE PAGE MODEL #
    Before going any further, we should understand how the page model for paged media works, because it behaves somewhat
    differently to how things work on screen.
  
    The page model defines a page area and then 16 surrounding margin boxes. You can control the size of the page area and
    the size of the margin between the edge of the<br> page area and the end of the page itself. The table in the
    specification explains very well how these boxes are sized.
  
    We can use these selectors to define different margin sizes for our pages.</p>
    <h5>This breaks long URLs when they reach a certain limit or, as in our case, when they exceed the page’s width. Just add this property to the first of the above declarations. Although this property is basically supported in a wide range of browsers — even IE 6 — it works only in Chrome when printing. While Firefox automatically breaks long URLs, Internet Explorer has no capability for this.
  
      Finally, we set the link color to black to improve the experience for readers.
      
      This breaks long URLs when they reach a certain limit or, as in our case, when they exceed the page’s width. Just add this property to the first of the above declarations. Although this property is basically supported in a wide range of browsers — even IE 6 — it works only in Chrome when printing. While Firefox automatically breaks long URLs, Internet Explorer has no capability for this.
  
  Finally, we set the link color to black to improve the experience for readers.
  
  This breaks long URLs when they reach a certain limit or, as in our case, when they exceed the page’s width. Just add this property to the first of the above declarations. Although this property is basically supported in a wide range of browsers — even IE 6 — it works only in Chrome when printing. While Firefox automatically breaks long URLs, Internet Explorer has no capability for this.
  
  Finally, we set the link color to black to improve the experience for readers.
  
  This breaks long URLs when they reach a certain limit or, as in our case, when they exceed the page’s width. Just add this property to the first of the above declarations. Although this property is basically supported in a wide range of browsers — even IE 6 — it works only in Chrome when printing. While Firefox automatically breaks long URLs, Internet Explorer has no capability for this.
  
  Finally, we set the link color to black to improve the experience for readers.
  
  This breaks long URLs when they reach a certain limit or, as in our case, when they exceed the page’s width. Just add this property to the first of the above declarations. Although this property is basically supported in a wide range of browsers — even IE 6 — it works only in Chrome when printing. While Firefox automatically breaks long URLs, Internet Explorer has no capability for this.
  
  Finally, we set the link color to black to improve the experience for readers.
  
  </h5>
  
  <h3>This breaks long URLs when they reach a certain limit or, as in our case, when they exceed the page’s width. Just add this property to the first of the above declarations. Although this property is basically supported in a wide range of browsers — even IE 6 — it works only in Chrome when printing. While Firefox automatically breaks long URLs, Internet Explorer has no capability for this.
  
    Finally, we set the link color to black to improve the experience for readers.
    
    This breaks long URLs when they reach a certain limit or, as in our case, when they exceed the page’s width. Just add this property to the first of the above declarations. Although this property is basically supported in a wide range of browsers — even IE 6 — it works only in Chrome when printing. While Firefox automatically breaks long URLs, Internet Explorer has no capability for this.
  
  Finally, we set the link color to black to improve the experience for readers.
  
  This breaks long URLs when they reach a certain limit or, as in our case, when they exceed the page’s width. Just add this property to the first of the above declarations. Although this property is basically supported in a wide range of browsers — even IE 6 — it works only in Chrome when printing. While Firefox automatically breaks long URLs, Internet Explorer has no capability for this.
  
  Finally, we set the link color to black to improve the experience for readers.
  
  </h3>
  
  <h2>This breaks long URLs when they reach a certain limit or, as in our case, when they exceed the page’s width. Just add this property to the first of the above declarations. Although this property is basically supported in a wide range of browsers — even IE 6 — it works only in Chrome when printing. While Firefox automatically breaks long URLs, Internet Explorer has no capability for this.
  
    Finally, we set the link color to black to improve the experience for readers.
    
    This breaks long URLs when they reach a certain limit or, as in our case, when they exceed the page’s width. Just add this property to the first of the above declarations. Although this property is basically supported in a wide range of browsers — even IE 6 — it works only in Chrome when printing. While Firefox automatically breaks long URLs, Internet Explorer has no capability for this.
  
  Finally, we set the link color to black to improve the experience for readers.
  
  This breaks long URLs when they reach a certain limit or, as in our case, when they exceed the page’s width. Just add this property to the first of the above declarations. Although this property is basically supported in a wide range of browsers — even IE 6 — it works only in Chrome when printing. While Firefox automatically breaks long URLs, Internet Explorer has no capability for this.
  
  Finally, we set the link color to black to improve the experience for readers.
  
  This breaks long URLs when they reach a certain limit or, as in our case, when they exceed the page’s width. Just add this property to the first of the above declarations. Although this property is basically supported in a wide range of browsers — even IE 6 — it works only in Chrome when printing. While Firefox automatically breaks long URLs, Internet Explorer has no capability for this.
  
  Finally, we set the link color to black to improve the experience for readers.
  
  This breaks long URLs when they reach a certain limit or, as in our case, when they exceed the page’s width. Just add this property to the first of the above declarations. Although this property is basically supported in a wide range of browsers — even IE 6 — it works only in Chrome when printing. While Firefox automatically breaks long URLs, Internet Explorer has no capability for this.
  
  Finally, we set the link color to black to improve the experience for readers.
  
  </h2>

</div>
